
<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="pannel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                        <div>
                            <div class="panel-body p-3">
                                    <form>
                                        <div class="form-group pt-3">
                                            <div class="input-field">
                                                <span class="fa-solid fa-user p-2"></span>
                                                <input type="text" placeholder="Username">
                                            </div>
                                        </div>

                                        <div class="form-group pt-3">
                                            <div class="input-field">
                                                <span class="fa-solid fa-lock p-2"></span>
                                                <input [type]="type" placeholder="Password">
                                                <span (click)="hideshowPass()" class="fa {{eyeIcon}}"></span>

                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                                        <div class="text-center pt-4 text-muted">Don't have account? <a id="regist" routerLink="/registration">Sign Up</a></div>
                                    </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div><a routerLink="/registration">login</a></div> -->


<!-- <i class="fa-solid fa-user"></i><i class="fa-solid fa-lock-keyhole"></i> -->
